.container {
  justify-content: center; } .container-content {
  display: flex;
  flex-direction: row;
  min-width: 50%;
}
.container-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container-sidebar-links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.container-navbar {
  display: flex;
  flex-direction: column;
}
.container-sub-comp {
  display: flex;
  flex-grow: 2;
}







.nav-link {
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

//////////////////////////
.gameTable {
  margin-top: 50px;
  width: 50%;
  border-style: solid;
  border-width: 1px;
}

.change-buttons {
  margin-left: 100px;
  margin-top: 50px;
  width: 20%;
}

td,th {
  border: solid;
  text-align: center;
}

#edit-button {
  margin-left: 10px;;
}

#reset-button {
  margin-left: 10px;
}
