<div class="container pt-5" *ngIf="player">
  <div class="container-content">
    <div class="container-sidebar">
      <!-- sidebar -->
      <div class="container-sidebar-header">
        <h1 class="player-heading">{{player.alias}}</h1>
      </div>
      <div class="container-sidebar-links">
        <nav class="navbar bg-light">
          <div class="container-navbar">
            <ul class="navbar-nav" *ngFor="let elem of componentElements;let i = index">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[componentUrls[i]]">
                  {{elem}}
                </a>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
    <div class="container-sub-comp">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
