<div class="container pt-5" *ngIf="game">
  <div class="container-content">
    <h1>{{game.name}}</h1>
    <div class="container-game-details">
      <div class="container-gallery">
        <div class="container-image">
          <img id="active-image" src="{{imageUrls[0]}}" alt="Image">
        </div>
        <div class="container-previews">
          <div class="container-slides" *ngFor="let url of imageUrls;let i = index">
            <!-- preview images -->
            <img id="{{'image' + i}}" src="{{url}}" alt="Image" (click)="imageClick($event)">
          </div>
        </div>
        <div class="container-play-area">
          <div class="container-buttons">
            <button class="btn btn-primary" (click)="matchmaking()">Play with strangers</button>
            <button id="button-private" class="btn btn-danger" (click)="createPrivateSession()">Play with friends</button>
            <button class="btn btn-warning" (click)="saveGameCode()">Download Game Code</button>
          </div>
        </div>
      </div>
      <div class="container-info-panel">
        <div class="container-thumbnail">
          <img src="{{getGameThumbnailUrl(game.id)}}" alt="Image">
        </div>
        <div class="container-textarea">
          <textarea id="text-area" class="scroll-text">{{correctDesc}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
