.container {
  display: flex;
  justify-content: center;
}
.container-content {
  display: flex;
  flex-direction: column;
}
.container-game-details {
  display: flex;
  flex-direction: row;
}
.container-gallery {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-right: 10px;
}
.container-image {
  width: 31.25rem; //500px
  height: 25rem; //400px
  object-fit: cover;
}
.container-image img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 2px 2px 50px #888888;
}
.container-previews {
  overflow-x: auto;
  margin-top: 10px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  width: 31.25rem;
}
.container-slides {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.container-slides img {
  //max-width: 20%;
  width: 120px;
  height: 100px;
  margin: 0 1px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 15px;
}
.container-info-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}
.container-thumbnail {
  display: flex;
}
.container-thumbnail img {
  width: 18.75rem; //300px
  height: 12.5rem; //200px
  border-radius: 15px;
  box-shadow: 2px 2px 50px #888888;
}
.container-textarea {
  display: flex;
  margin-top: 10px;
}

.container-lua-download {
  display: flex;
  margin-top: 10px;
  justify-content: end;
}
.scroll-text {
  overflow-y: auto;
  min-height: 500px;
  width: 300px;
  border: none;
  background-color: inherit;
  resize: none;
}
.active {
  border: 2px solid black;
  opacity: 1;
}
.container-play-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.container-play-text {
  display: flex;
  flex-direction: column;
}
.container-play-text p{
  margin: 0 0 0;
  font-weight: bold;
  font-size: 14pt;
}
.btn {
  margin-left: 10px;
}

h1 {
  font-weight: bold;
}
