/*.navbar {
  background-color: inherit;
  border: solid 1px black;
}*/
input {
  width: 12em;
  border-radius: .25rem;
  display: inline;
  margin-left: 5px;
}

i.bi, .navbar-brand {
  margin-right: 10px;
  transition: 0.3s;
}

i.bi:hover, .navbar-brand:hover {
  color: red;
  cursor: pointer;
}

.errorMessage {
  color: red;
}
