<!-- navbar -->
<nav id="navbar" class="navbar navbar-expand navbar-light" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="redirectToHome()"><i class="bi bi-suit-club-fill"> </i>Gamify</a>

    <div class="d-flex flex-row justify-content-end">
      <div *ngIf="userLoggedIn" class="p-4">
        {{subject}}
        <button [routerLink]="['/game-upload']" type="button" class="btn btn-primary ms-3">+ Game Upload</button>
        <button [routerLink]="['/profile/user-data']" type="button" class="btn btn-primary ms-3">Profile</button>
        <button (click)="logout()" type="button" class="btn btn-primary ms-3">Logout</button>
      </div>
      <div *ngIf="!userLoggedIn" class="p-2">
        <button [routerLink]="['/login']" type="button" class="btn btn-primary ms-3">Login</button>
        <button [routerLink]="['/register']" type="button" class="btn btn-primary ms-3">Register</button>
      </div>
    </div>
  </div>
</nav>

<lib-toastify-toast-container
  [hideProgressBar]="true"
  [closeOnClick]="true"
  [pauseOnHover]="true"
  [iconLibrary]="'material'"
  class="toast-container">
</lib-toastify-toast-container>

<router-outlet></router-outlet>
