:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  width: 100%;
}

.container-header {
  display: flex;
  flex-direction: column;
}
.container-table {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: auto;
}

.table {
  width: 100%;
  text-align: center;
}

.name-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-weight: bold;
}

td {
  vertical-align: middle;
  font-weight: bold;
}

