<div class="container" *ngIf="games">
  <div class="container-header">
    <h3>Created Games</h3>
  </div>
  <div class="container-table">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of games;let i = index">
        <td>
          <div class="name-cell">
            {{ game.name }}
          </div>
        </td>
        <td>
          <button class="btn btn-primary" (click)="editGame(game)">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
