<div class="container" *ngIf="game">
  <div class="container-content ">
    <section class="contain-section">
      <h1>{{game.name}}</h1>
    </section>
    <div class="content-info">
      <div class="content-thumbnail">
        <img src="{{getGameThumbnailUrl(game.id)}}" class="card-img-top" alt="...">
        <div class="content-table">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th *ngFor="let head of tableHeaders" scope="col">{{ head }} </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let n of numSequence(game.max_capacity);let i = index;">
              <th scope="row">{{i + 1}}</th>
              <td *ngIf="players[i]"> {{players[i].player.alias}}</td>
              <td *ngIf="!players[i]">
                <div class="container-waiting-player">
                  <p>Waiting for player</p>
                  <mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="content_button">
          <button id="start-button" class="btn btn-primary start" [disabled]="!startAllowed || !playerCanStart" (click)="startGame()"
                  data-bs-toggle="tooltip" data-bs-placement="left" title="Not Enough Players"> Start</button>
          <br>
          <button class="btn btn-outline-secondary copy" (click)="copySessionLink()">
            Copy join link <i class="bi bi-clipboard"></i>
          </button>
        </div>
      </div>

      <div class="content-description">
        <div class="content-textarea">
          <textarea readonly class="scroll-text">{{correctDesc}}</textarea>
        </div>

      </div>
    </div>

  </div>
</div>
