.container {
  justify-content: center;
}

.btn:disabled{
  pointer-events: auto !important;
}

.container-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container-waiting-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-waiting-player p{
  margin: 0 0 0px;
}

.content-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
;
}

.content_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.container-private {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

.container-session-link {
  display: flex;
  flex-direction: column;
}

.container-session-link p{
  margin: 0 0 0;
  font-weight: bold;
  font-size: 12pt;
}

.content-table {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.content-textarea {
  display: flex;
  justify-content: center;
}

.content-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 15px;
}

.card-img-top {
  width: 300px;
  height: 200px;
  box-shadow: 2px 2px 50px #888888;
  border-radius: 15px;
}

.scroll-text {
  overflow-y: auto;
  height: 500px;
  width: 300px;
  border: none;
  background-color: inherit;
  resize: none;
}

.btn {
  margin: 5px;
}

h1 {
  font-weight: bold;
}
