<div class="container-fluid vh-100">
  <div class="row vh-100 login">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="card w-25 ">
          <h2 class="card-header">Login</h2>
          <div class="card-body">
            <form class="form" [formGroup]="loginForm" (submit)="login()">
              <div class="form-group">
                <label for="inputEmail" class="all-round">Email</label>
                <input type="text" name="name" formControlName="email" class="form-control" id="inputEmail"
                       aria-describedby="usernameHelp" placeholder="email ...">
                <div *ngIf="loginForm.controls['email'].dirty && loginForm.controls['email'].errors" class="error">
                  <small class="form-text text-danger" *ngIf="loginForm.controls['email'].errors['required']">your email is
                    required!
                  </small>
                  <small class="form-text text-danger" *ngIf="loginForm.controls['email'].errors['email']">invalid email
                    address!
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="all-round">Password</label>
                <input type="password" name="password" formControlName="password" class="form-control" id="password"
                       placeholder="password ...">
                <div *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].errors"
                     class="error">
                  <small class="form-text text-danger" *ngIf="loginForm.controls['password'].errors['required']">your
                    password
                    is required!
                  </small>
                </div>
              </div>
              <div class="form-group mt-3 text-center">
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">
                  <span>Login</span>
                </button>
                <button type="submit" (click)="ResetPassword()" class="btn btn-warning m-2" id="reset-button">
                  <span>Reset Password</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
