<div class="container" *ngIf="player">
  <div class="card">
    <h4 class="card-header">User Data</h4>
    <div class="card-body">
      <form class="form" [formGroup]="userDataForm" (submit)="onSave()">
        <div class="form-group">
          <label for="alias" class="all-round">Alias</label>
          <input type="text" name="alias" formControlName="alias" class="form-control" id="alias"
                 placeholder="alias ...">
          <div *ngIf="userDataForm.controls['alias'].dirty && userDataForm.controls['alias'].errors"
               class="error">
            <small class="form-text text-danger" *ngIf="userDataForm.controls['alias'].errors['required']">Your
              alias
              is required!
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="all-round">Email</label>
          <input type="text" name="email" formControlName="email" class="form-control" id="inputEmail"
                 placeholder="email ...">
          <div *ngIf="userDataForm.controls['email'].dirty && userDataForm.controls['email'].errors"
               class="error">
            <small class="form-text text-danger" *ngIf="userDataForm.controls['email'].errors['required']">Your
              email
              is required!
            </small>
            <small class="form-text text-danger" *ngIf="userDataForm.controls['email'].errors['email']">Invalid email
              address!
            </small>
          </div>
        </div>
        <div class="form-group mt-3 text-center">
          <button type="submit" [disabled]="!userDataForm.valid" class="btn btn-primary"
                  data-bs-toggle="tooltip" data-bs-placement="left" title="This will log you out">
            <span>Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
