<div class="container-fluid p-5 pt-5">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="card w-50">
        <div class="card-header">
          <h2>Game Upload</h2>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="gameUploadForm" (submit)="onSave()">
            <div class="form-group">
              <label for="inputName" class="all-round">Game name</label>
              <input type="text" name="name" formControlName="name" class="form-control" id="inputName"
                     aria-describedby="usernameHelp" placeholder="name ...">
              <div *ngIf="gameUploadForm.controls['name'].dirty && gameUploadForm.controls['name'].errors" class="error">
                <small class="form-text text-danger" *ngIf="gameUploadForm.controls['name'].errors['required']">Game name is
                  required!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDescription" class="all-round">Description</label>
              <input type="text" name="name" formControlName="description" class="form-control" id="inputDescription"
                     aria-describedby="usernameHelp" placeholder="description ...">
              <div *ngIf="gameUploadForm.controls['description'].dirty && gameUploadForm.controls['description'].errors" class="error">
                <small class="form-text text-danger" *ngIf="gameUploadForm.controls['description'].errors['required']">Description is
                  required!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPlayerCount" class="all-round">Amount of Players</label>
              <input type="text" name="name" formControlName="playerCount" class="form-control" id="inputPlayerCount"
                     aria-describedby="usernameHelp" placeholder="Players:  ...">
              <div *ngIf="gameUploadForm.controls['playerCount'].dirty && gameUploadForm.controls['playerCount'].errors" class="error">
                <small class="form-text text-danger" *ngIf="gameUploadForm.controls['playerCount'].errors['required']">Amount of Players
                  is required!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="inputSourceCode" class="all-round">Source Code</label>
              <input type="file" name="name" formControlName="sourceCode" class="form-control" id="inputSourceCode"
                     aria-describedby="usernameHelp" placeholder="..." (change)="onFileChangedSourceCode($event)">
              <div *ngIf="gameUploadForm.controls['sourceCode'].dirty && gameUploadForm.controls['sourceCode'].errors" class="error">
                <small class="form-text text-danger" *ngIf="gameUploadForm.controls['sourceCode'].errors['required']">Source Code is
                  required!
                </small>
              </div>
            </div>
            <div class="col pt-3 text-center">
              <button id="submitButton" type="submit" [disabled]="!gameUploadForm.valid" class="btn btn-primary">
                <span>Save</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
