<div class="container-fluid vh-100">
    <div class="row vh-100 request">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="card w-25 ">
          <h2 class="card-header">Request email for new password</h2>
          <div class="card-body">
            <form class="form" [formGroup]="form" (submit)="onSubmit()">
              <div class="form-group">
                <label for="inputEmail" class="all-round">Email</label>
                <input type="text" name="name" formControlName="email" class="form-control" id="inputEmail"
                       aria-describedby="usernameHelp" placeholder="email ...">
                <div *ngIf="form.controls['email'].dirty && form.controls['email'].errors" class="error">
                  <small class="form-text text-danger" *ngIf="form.controls['email'].errors['required']">your email is
                    required!
                  </small>
                  <small class="form-text text-danger" *ngIf="form.controls['email'].errors['email']">invalid email
                    address!
                  </small>
                </div>
              </div>
              <div class="form-group mt-3 text-center">
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
                  <span>Request Email</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
