<div class="text-center pt-2" id="search-bar">
  <form>
    <input id="searchB" class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="gameName"
           (ngModelChange)="searchForGamesByName()" [ngModelOptions]="{standalone: true}">
  </form>
</div>

<div class="game-list">
  <div *ngFor="let game of games; index as i">
    <div class="card m-3" style="width: 18rem;" (click)="goToGameDetail(game.id)">
      <img src="{{ addThumbnailUrlToGames(game.id)}}" class="card-img-top" alt="..." height="200" width="200">
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <p><i class="text-muted"> Players: {{ game.min_capacity }}</i></p>
        <a class="btn btn-primary"
           (click)="matchmaking(game.id);$event.stopPropagation()">
          Play with strangers
        </a>
      </div>
    </div>
  </div>
</div>
