.game-list {
  display: flex;
  flex-flow: wrap;
}

#search-bar {
  width: 25%;
  margin-left: 1rem;
  background-color: inherit;
}

#searchB {
  background-color: inherit;
}

#lib-tiles {
  background-color: inherit;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 2px 2px 50px #888888;
  cursor: pointer;
}
