/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
#swal2-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  animation: backwards;
}

#swal2-image {
  background: rgba(255,255,255,.8);
  backdrop-filter: blur(2px);
}

.container {
  display: flex;
  flex-flow: row wrap;
}
.box--full {
  width: 50%;
}


html, body { height: 100%; }
body {
  background-color: #F7F7F7;
}

.form-group:not(:first-of-type), input:not(:first-of-type) {
  margin-top: 2em;
}

.toast-container {
  color: black;
}
