.dropzone-previews {
  border: solid 1px black;
  background-color: inherit;
}

#form-div {
  border: solid 1px black;
}

#submitButton {
  margin-top: 5px
}

.container-images-label {
  display: flex;
  flex-direction: row;
}

.container-upload-res {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
