<div class="container-fluid p-5 pt-5">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="card w-50">
        <div class="card-header">
          <h2>Game Edit</h2>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="gameEditForm" (submit)="saveGameDetails()">
            <div class="form-group">
              <label for="inputName" class="all-round">Game name</label>
              <input type="text" name="name" formControlName="name" class="form-control" id="inputName"
                     aria-describedby="usernameHelp" placeholder="name ...">
              <div *ngIf="gameEditForm.controls['name'].dirty && gameEditForm.controls['name'].errors" class="error">
                <small class="form-text text-danger" *ngIf="gameEditForm.controls['name'].errors['required']">Game name is
                  required!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDescription" class="all-round">Description</label>
              <input type="text" name="name" formControlName="description" class="form-control" id="inputDescription"
                     aria-describedby="usernameHelp" placeholder="description ...">
              <div *ngIf="gameEditForm.controls['description'].dirty && gameEditForm.controls['description'].errors" class="error">
                <small class="form-text text-danger" *ngIf="gameEditForm.controls['description'].errors['required']">Description is
                  required!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPlayerCount" class="all-round">Amount of Players</label>
              <input type="text" name="name" formControlName="playerCount" class="form-control" id="inputPlayerCount"
                     aria-describedby="usernameHelp" placeholder="Players:  ...">
              <div *ngIf="gameEditForm.controls['playerCount'].dirty && gameEditForm.controls['playerCount'].errors" class="error">
                <small class="form-text text-danger" *ngIf="gameEditForm.controls['playerCount'].errors['required']">Amount of Players
                  is required!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="inputSourceCode" class="all-round">Source Code</label>
              <input type="file" name="sourceCode" formControlName="sourceCode" class="form-control" id="inputSourceCode"
                     aria-describedby="usernameHelp" placeholder="..." (change)="onFileChangedSourceCode($event)"
              ngNativeValidate>
            </div>
            <div class="col pt-3 text-center">
              <button id="submitButton" type="submit" [disabled]="!gameEditForm.valid" class="btn btn-primary">
                <span>Save</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!editable">
    <div class="row pt-5">
      <div class="d-flex col justify-content-center">
        <p>Thumbnail</p>
      </div>
    </div>
    <div class="row">
      <div class="d-flex col justify-content-center">
        <form class="form w-50" [formGroup]="thumbForm">
          <div class="form-group">
            <input type="file" name="thumbnail" formControlName="thumbnail" class="form-control" id="inputThumbnail"
                   aria-describedby="usernameHelp" placeholder="..." (change)="onFileChangedThumbnail($event)"
                   ngNativeValidate>
          </div>
        </form>
      </div>
    </div>
    <div class="row pt-4">
      <div class="d-flex col justify-content-center">
        <p>Cards</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <ngx-dropzone class="dropzone-previews w-50" (change)="onSelectCards($event)">
          <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let c of cards"
                                      [file]="c" [removable]="true" (removed)="onRemoveCard(c)"
                                      [title]="c.name">
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
    </div>
    <div class=" row pt-4 container-images-label">
      <div class="d-flex col justify-content-center">
        <p>Images</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <ngx-dropzone class="dropzone-previews w-50" (change)="onSelectImages($event)">
          <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let i of images"
                                      [file]="i" [removable]="true" (removed)="onRemoveImage(i)"
                                      [title]="i.name">
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
    </div>
    <div class="container-upload-res pt-4">
      <button type="submit" class="btn btn-primary" (click)="saveImageResources()">Save Images</button>
    </div>
  </div>
</div>
