<div class="container-fluid vh-100">
  <div class="row vh-100 change">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="card w-25 ">
          <h4 class="card-header">Reset Password</h4>
          <div class="card-body">
            <form class="form" [formGroup]="form" (submit)="reset()">
              <div class="form-group">
                <label for="password" class="all-round">New password</label>
                <input type="password" name="password" formControlName="password" class="form-control" id="password"
                       placeholder="password ...">
                <div *ngIf="form.controls['password'].dirty && form.controls['password'].errors"
                     class="error">
                  <small class="form-text text-danger" *ngIf="form.controls['password'].errors['required']">your
                    password
                    is required!
                  </small>
                  <small class="form-text text-danger" *ngIf="form.controls['password'].errors['minlength']">your
                    password
                    must be at least 8 characters long!
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="all-round">Confirm password</label>
                <input type="password" name="confirmPassword" formControlName="confirmPassword"
                       class="form-control" id="confirmPassword" placeholder="confirm ...">
                <div *ngIf="form.controls['confirmPassword'].dirty && form.errors">
                  <small class="form-text text-danger" *ngIf="form.errors['notSame']">your input must match the new
                    password!</small>
                </div>
              </div>
              <div class="form-group mt-3 text-center">
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
                  <span>Reset</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
