<div class="container-fluid ">
  <div class="row vh-100 register">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="card w-25 ">
          <h2 class="card-header">Register</h2>
          <div class="card-body">
            <form class="form" [formGroup]="registrationForm" (submit)="onSubmit()">
              <div class="form-group">
                <label for="inputAlias" class="all-round">Alias</label>
                <input type="text" name="name" formControlName="alias" class="form-control" id="inputAlias"
                       aria-describedby="usernameHelp" placeholder="alias ...">
                <div *ngIf="registrationForm.controls['alias'].dirty && registrationForm.controls['alias'].errors"
                     class="error">
                  <small class="form-text text-danger" *ngIf="registrationForm.controls['alias'].errors['required']">An
                    alias is
                    required!
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="all-round">Email</label>
                <input type="text" name="name" formControlName="email" class="form-control" id="inputEmail"
                       aria-describedby="usernameHelp" placeholder="email ...">
                <div *ngIf="registrationForm.controls['email'].dirty && registrationForm.controls['email'].errors"
                     class="error">
                  <small class="form-text text-danger" *ngIf="registrationForm.controls['email'].errors['required']">your
                    email is
                    required!
                  </small>
                  <small class="form-text text-danger" *ngIf="registrationForm.controls['email'].errors['email']">invalid
                    email
                    address!
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="all-round">Password</label>
                <input type="password" name="password" formControlName="password" class="form-control" id="password"
                       placeholder="password ...">
                <div *ngIf="registrationForm.controls['password'].dirty && registrationForm.controls['password'].errors"
                     class="error">
                  <small class="form-text text-danger" *ngIf="registrationForm.controls['password'].errors['required']">Your
                    Password
                    is required!
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="registrationForm.controls['password'].errors['minlength']">Your
                    Password
                    must be at least 8 characters long!
                  </small>
                </div>
              </div>
              <div class="form-group">
                <input type="password" name="confirmPassword" formControlName="confirmPassword"
                       class="form-control" id="confirmPassword" placeholder="confirm ...">
                <div *ngIf="registrationForm.controls['confirmPassword'].dirty && registrationForm.errors">
                  <small class="form-text text-danger" *ngIf="registrationForm.errors['notSame']">Your input must match
                    the new
                    password!</small>
                </div>
              </div>
              <div class="form-group mt-3 text-center">
                <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary">
                  <span>Register</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
